<!-- General purpos footer -->
<footer class="page-footer generic-theme-dark-2">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p>
          Copyright &copy; 2021
          <br>
          <a href="https://www.google.com" target="_blank">Generic</a> - All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>