<!-- Landing Page "Thank you!" Main Footer -->
<footer class="page-footer generic-theme-dark-2">
  
  <div class="container">
    <ul class="collapsible">
      <li>
        <div class="row collapsible-header generic-theme-dark-2">
          <span>A welcome message from the Generic CRM dev team.</span>
        </div>
        <div class="row collapsible-body">
          <!-- About generic CRM -->
          <div class="col s9">
            <h5 class="generic-text-white">About Generic CRM: Version 1.0</h5>
            <p class="grey-text text-lighten-4">We are a team of <a href="https://bootcamp.uclaextension.edu/coding/" target="_blank">UCLA Extension bootcamp</a> students who are learning about fullstack web development in a fun and fast-paced environment. In addition to participating in weekly interactive classes and completing assignments on our own, we also get the chance to work as a team for three main "Projects" with the goal of applying what we have learned up to that point in the program.</p>
            <p class="grey-text text-lighten-4">Generic was gracious enough to let our team (names listed on the right) develop a pilot website application as a phase one, easy-to-use Customer Relationship Management (CRM) tool that Generic employees could try out and provide feedback on.</p>
            <p class="grey-text text-lighten-4">Thank you Generic for the opportunity to be able to work on this project with you! We hope it will help you in your future CRM decision-making plans, and we have whole-heartedly appreciated the chance to grow as junior web developers throughout this process :)</p>
          </div>
          <!-- Team Members -->
          <div class="col s3">
            <h5 class="generic-text-white">Meet the Team</h5>
            <ul class="browser-default disc-list">
              <li class="generic-text-white">Ava Brenneke</li>
              <li class="generic-text-white">Cameron Nix</li>
              <li class="generic-text-white">Jaden Lee</li>
              <li class="generic-text-white">Jon Yee</li>
              <li class="generic-text-white">Nick Johnson</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p>
          Copyright &copy; 2021
          <br>
          <a href="https://www.google.com" target="_blank">Generic</a> - All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>